<div class="component-scroll-bar">
  <app-main-header></app-main-header>
  <mat-sidenav-container>
    <mat-sidenav #appDrawer [mode]="navbarMode()" class="sidenav border" [opened]="screenResize()">
      <mat-nav-list>
        <mat-list-item routerLink="/pages/maps" routerLinkActive="active">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div fxFlex="5"></div>
          <div class="sidenav-item">
            <h5>Main</h5>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
        <h3 mat-subheader class="padding-subheader">bookmarks</h3>

        <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="router-container">
        <ng-content></ng-content>
      </div>
      <app-footer class="footer-container"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

