@import '../../../@theme/scss/main-theme';


.header{
  min-height:10vh;
}

.title{
  margin-bottom: 30px;
  text-align: center;
}
.flex-column{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
