<!--<div class="footer-row">-->
<!--<footer class="footer application-main-color-shadow text-color">-->
<!--{{ 'Footer.footer-text' | translate }}-->
<!--</footer>-->
<!--</div>-->

<div class="footer-row footer application-auth-color-shadow text-color">
  <div class="text">
    <span class="created-by">{{'Footer.name' | translate}}<b><a href="https://github.com/patrykzdral" target="_blank">Patryk Zdral</a></b> 2019 </span>
  </div>

  <div class="social-div">
    <a routerLink="/licenses" routerLinkActive="active">{{'Footer.licence' | translate}} </a>
    <a href="https://pl.linkedin.com/in/patryk-zdral-3a99b4149">
      <fa class="socials" name="linkedin"></fa>
    </a>
    <a href="https://www.facebook.com/patryk.zdral">
      <fa class="socials" name="facebook"></fa>
    </a>
    <a href="https://github.com/patrykzdral">
      <fa class="socials" name="github"></fa>
    </a>
  </div>
</div>
