<div class="reference-flex-box">
  <div *ngIf="notAdmin">
    <mat-card>
      <p>Give user opinion</p>

      <ngb-rating class="stars" [(rate)]="userReference.starRating">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 5">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <div class="rate">
        <pre>Rate: <b>{{userReference.starRating}}</b></pre>
      </div>
      <div class="text-area">
        <mat-form-field appearance="standard">
          <textarea matInput placeholder="Give your opinion" [(ngModel)]="userReference.text" type="text"></textarea>
          <mat-icon matPrefix>description</mat-icon>
        </mat-form-field>
      </div>
    </mat-card>
    <button mat-raised-button color="primary" (click)="sendOpinion()">Send user your opinion</button>
  </div>

  <div class=" concert-list constant-height">
    <div *ngFor="let userReference of userReferencesObservable | async">
      <div class="ref-margin">
        <app-reference [userReference]="userReference"></app-reference>

      </div>
    </div>
  </div>

</div>

