
.search-form {
  position: absolute;
  width: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.0) !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  .first-row {
    display: flex;
    flex-direction: row;
    .text-input {
      height: 24px;
      flex-grow: 2;
      opacity: 1;
      font-weight: bold;
      font-size: 16px;
    }
    .search-icon {
      background-color: rgba(255, 255, 255, 0.0) !important;
      opacity: 1;
      cursor: pointer;
      background-color: white;
    }
    .clear-icon {
      cursor: pointer;
      margin-left: 10px;
    }
  }
  .second-row{
    display: flex;
    flex-direction: row;
    .empty-space{
      flex-grow: 1;
    }
  }

}
  button {
    min-height: 20px !important;
    min-width: 46px !important;
    font-size: 10px !important;
    line-height: 0;
  }

