<!--<h4 mat-dialog-title>Filter Concerts</h4>-->
<!--<div mat-dialog-content>-->
<!--<p>Choose filter options</p>-->
<!--<mat-form-field>-->
<!--<input matInput>-->
<!--&lt;!&ndash;<input matInput placeholder="event name" [(ngModel)]="data.eventName">&ndash;&gt;-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--<input matInput placeholder="event name" [(ngModel)]="data.eventName">-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--<button mat-button (click)="onNoClick()">Cancel</button>-->
<!--<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Filter concerts</button>-->
<!--</div>-->

<div class="flex-container">
  <h2 mat-dialog-title>Filter events</h2>
  <mat-dialog-content>
    <p>Choose filter options</p>
    <div class="form-group">
      <label>event name</label>
      <input [(ngModel)]="filterData.eventName" class="form-control" placeholder="event name">
    </div>

    <!--<mat-form-field>-->
    <!--<mat-select placeholder="Toppings" [formControl]="toppings" multiple>-->
    <!--<mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
    <div class = "whole-space">
      <mat-form-field>
        <mat-select [(value)]="filterData.instruments" placeholder="Choose instruments" [formControl]="toppings" multiple>
          <mat-option *ngFor="let instrumentsModel of instrumentsModelObservable | async" [value]="instrumentsModel.name">
            {{instrumentsModel.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <!--<mat-form-field>-->
      <!--<input [ngModel]="filterData.dateFrom | date:'yyyy-MM-dd'" (ngModelChange)="filterData.dateFrom = $event" matInput [matDatepicker]="picker" placeholder="Choose a date">-->
      <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #picker></mat-datepicker>-->
    <!--</mat-form-field>-->
    <div class="date-row">
      <div class="form-group date">
        <label>Date From</label>
        <input [(ngModel)]="selectedMoments" class="form-control" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [selectMode]="'rangeFrom'" name="dateFrom-input">
        <owl-date-time class="owl-picker" #dt></owl-date-time>
      </div>

      <div class="form-group date">
        <label>Date To </label>
        <input [(ngModel)]="selectedMoments" class="form-control" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [selectMode]="'rangeTo'" name="dateFrom-input">
        <owl-date-time class="owl-picker" #dt2></owl-date-time>
      </div>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <div class="spacer"></div>
    <button mat-button [mat-dialog-close]="filterData">Filter</button>
  </mat-dialog-actions>
</div>


