<div class="flex-row">
  <div class="flex-column">
    <div *ngIf="currentFileUpload" class="fullsize progress">
      <div class="progress-bar progress-bar-info progress-bar-striped"
           role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
           aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%
      </div>
    </div>
    <div>
      <mat-label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
      </mat-label>
    </div>
    <div>
      <button class="fullsize" mat-raised-button color="primary" [disabled]="!selectedFiles"
              (click)="upload()">Upload
      </button>
    </div>

  </div>
</div>

