@import "../../../../../@theme/scss/main-theme";

.flex-row{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  .flex-column{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .fullsize{
      width: 300px
    }
  }

}

