<div *ngIf="concertModel">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <div class="name">
        <div *ngIf="hasPhoto;else other_content">
          <img [src]="imageToShow | safeUrl" alt="Card image cap" class="round-avatar-smaller"> {{concertModel.name}}
        </div>
        <ng-template #other_content>
          <mat-icon svgIcon="no_concert_photo"></mat-icon>
          {{concertModel.name}}
        </ng-template>

      </div>
      <div class="date-from">{{concertModel.dateFrom | date : 'MM/dd/yyyy'}}</div>
      <div class="date-to">{{concertModel.dateTo | date : 'MM/dd/yyyy'}}</div>
      <div class="arrow">
        <mat-icon class="ex-icon" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
          expand_more
        </mat-icon>
      </div>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <button mat-icon-button (click)="navigateToDetails()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
      <mat-tab label="Description">{{concertModel.description}}</mat-tab>
      <mat-tab label="Additional">Ensured drive: {{concertModel.ensuredDrive}}<br>
        Guaranteed meal: {{concertModel.guaranteedMeal}}<br></mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</div>
