@import '../../../../../@theme/scss/main-theme';
@import '../../../../../@theme/_breakpoints.scss';

mat-expansion-panel-header {
  flex-direction: row;
  display: flex;
  font-size: $application-table-font-size;
  .name {
    flex-direction: row;
    float: left;
    flex: 40%
  }

  .date-from {
    text-align: center;
    margin-right: 3px;
    flex: 28%;
  }

  .date-to {
    flex: 28%;
    text-align: right;
  }
  .arrow {
    flex: 4%;

  }
}

@media(max-width: 500px) {
  .date-to {
    display: none;
  }
}
