<div class="row">

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <div class="name">{{concertApplication.username}}</div>
      <button mat-raised-button color="red" (click)="navigateToUserDetails()"> user details</button>
      <div class="date-from">{{concertApplication.concertInstrumentSlot.instrument.name}}</div>

    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-raised-button color="green" (click)="accept()">
            accept
          </button>

        </ng-template>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-raised-button color="red" (click)="reject()">
            reject
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</div>
