<div class="flexbox">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="name">{{concertApplication.user.username}}</div>
      <div class="instrument">{{concertApplication.concertInstrumentSlot.instrument.name}}</div>
      <button class="details-button" mat-raised-button color="primary" (click)="navigateToUserDetails()"> user details
      </button>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-raised-button color="primary" (click)="accept()">
            accept
          </button>
        </ng-template>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-raised-button color="warn" (click)="reject()">
            reject
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</div>
