<div class="flex-area">
  <mat-card class="mat-card">
    <mat-tab-group>
      <mat-tab label="{{'Pages.friends.tab1' | translate}}">
        <div *ngIf="friendLists.friends">
          <app-my-friends (refresh)="refresh()" [myFriends]="friendLists.friends"></app-my-friends>
        </div>
      </mat-tab>
      <mat-tab label="{{'Pages.friends.tab2' | translate}}">
        <app-friend-pending (refresh)="refresh()" [InvitationSentToLoggedUser]="friendLists.friendsIDidNotAccept"
                            [InvitationsSentByLoggedUser]="friendLists.friendsWhoDidNotAcceptMe"></app-friend-pending>
      </mat-tab>
      <mat-tab label="{{'Pages.friends.tab3' | translate}}">
        <app-friend-request (refresh)="refresh()"
                            [notFriends]="friendLists.outsideOfFriendshipsUsers"></app-friend-request>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

