@import '../../../../../@theme/scss/main-theme';

mat-expansion-panel-header {
  flex-direction: row;
  display: flex;
  font-size: $application-table-font-size;
  .name {
    float: left;
    flex: 40%
  }

  .date-from {
    text-align: center;
    margin-right: 3px;
    flex: 30%;
  }

  .date-to {
    flex: 30%;
    text-align: right;
  }

}
@media(max-width: 500px) {
  .date-to{
    display: none;
  }
}
.mat-tab-g {
  ::ng-deep mat-tab-group {


      width:100% !important;

    ::ng-deep mat-tab-label{
      display: flex;
        flex:30%;
      }
        //.mat-tab-list {
        //  width: 100%;
        //}

        //.mat-tab-header-pagination {
        //  display: none;
        //}
        //
        //.mat-tab-label {
        //  min-width: 50%;
        //  font-size: 10px;
        //
        //}


  }
}

