@import "../../../../@theme/scss/main-theme";

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 45%;
  .flex-row {
    display: flex;
    flex-direction: column;

    .photo-column {
      display: flex;
      flex: 50%;
      .photo {
        width: 256px;
        height: 256px;
        background-color: white;
      }
    }
    .title-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 50%;
      .title {
        font-size: 25px;
      }
    }

  }

  .button-row {
    display: flex;
    flex-direction: row;
    .button-cancel {
      flex-grow: 1;
    }
  }
  .content {
    margin-top: 20px;
    margin-bottom: 100px;
    mat-card {
      width: 100%;
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  ::ng-deep mat-form-field {
    height: 2vh;
    margin-top: 0 !important;
    padding-top: 0;

  }
  label {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  ::ng-deep div.mat-form-field-flex {
    padding-top: 0 !important;
  }
}

@media(max-width: 1150px) {
  .profile {
    .mat-card {
      .flex-row {
        flex-direction: column;
      }
    }

  }
}

@media(max-width: 790px) {
  .profile {
    .mat-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      .flex-row {
        //.title-column {
        //  display: none;
        //  flex: 0;
        //}
      }
    }
  }
}

@media(max-width: 450px) {
  .profile {
    .mat-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      .flex-row {
        .title-column {
          display: none;
          flex: 0;
        }
      }
    }
  }
}

.card {
  display: flex;
  flex-grow: 1;
}
