<app-auth-page-template>
  <div class="Aligner"><!-- flex container -->
    <div class="Aligner-item">
      <mat-card class="mat-card">

        <div class="box"><!-- flex item -->
          <h2 class="sign_in">Enter new password</h2>
        </div>
        <div class="box"><!-- flex item -->
          <h5 class="welcome">Enter your email address and we'll send a link to reset your password</h5>
        </div>
        <div class="password-forms" [formGroup]="passwordFormGroup">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter your password*" [type]="hide ? 'password' : 'text'"
                   formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error
              *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">
              {{getPasswordErrorMessage()}}
            </mat-error>
            <mat-error
              *ngIf="passwordFormGroup.controls.password.errors?.pattern && passwordFormGroup.controls.password.touched">
              {{getPatternPasswordErrorMessage()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput placeholder="Repeat your password" [type]="'password'"
                   formControlName="repeatPassword" required>
            <mat-error
              *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">
              {{getPasswordRepeatErrorMessage()}}
            </mat-error>
            <!--<mat-error *ngIf="passwordFormGroup.errors?.doesMatchPassword">{{getPasswordNotEqualsMessage()}}</mat-error>-->
            <mat-error *ngIf="passwordFormGroup.hasError('notSame')">Passwords do not match</mat-error>
          </mat-form-field>
        </div>

        <button class="reset-password-button" (click)="onSubmit()" [disabled]="!passwordFormGroup.valid" color="primary"
                mat-raised-button>change password to the account
        </button>
      </mat-card>

    </div>
  </div>
</app-auth-page-template>
