@import '../../../@theme/scss/main-theme';
@import '../../../@theme/_breakpoints.scss';

.Aligner {
  display:flex;
  flex-direction: row;
  text-align: center;

  .Aligner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .mat-card{
      .sign_in {
        size: 24px;
        margin-bottom: 40px;
      }
      .welcome {
        color: #807f82;
        font-size: 12px;
      }

      .password-forms {
        display: flex;
        flex-direction: column;
      }
      .reset-password-button{
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }

  }
}

.box {
  text-align: center; /* will center text in <p>, which is not a flex item */
}
.spacer {
  flex-grow: 1;
}


@include breakpoint($handset){
  mat-card{
    mid-width: 0;
  }
}
@include breakpoint($tablet){
  mat-card{
    min-width: 300px;
  }
}
@include breakpoint($desktop){
  mat-card{
    min-width: 800px;
  }
}
