@import './main-theme';

.content {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.register-content {
  height: 88vh;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.site {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
