@import '../../../@theme/scss/auth-header';
@import '../../../@theme/scss/main-theme';
::ng-deep .langSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .langSelect.mat-select {
  display: inline;
}

.app-name{
  font-size: 24px;
  cursor: pointer;
}


.const-height{
  height: 7vh;
}
.margin-bottom{
  margin-bottom: 18px;
}
