@import '../../../assets/scss/main-theme';
@import '../../../assets/scss/footer';

.footer-row{
  .footer{
    min-height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}
