<!--<div class="footer-row">-->
<!--<footer class="footer application-main-color-shadow text-color">-->
<!--{{ 'Footer.footer-text' | translate }}-->
<!--</footer>-->
<!--</div>-->

<div class="footer-row footer application-main-color-shadow text-color">
    <div class="text">
      <span class="created-by">Created with ♥ by <b><a href="https://github.com/patrykzdral" target="_blank">Patryk Zdral</a></b> 2019</span>
    </div>
    <div class="social-div">
      <fa class="socials" name="linkedin"></fa>
      <fa class="socials" name="facebook"></fa>
      <fa class="socials" name="github"></fa>
    </div>
</div>
