@import '../../../../../@theme/breakpoints';
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";
@import "../../../../../@theme/scss/main-theme";

.flex-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  mat-card {
    .flex-row {
      display: flex;
      flex-direction: row;
      .photo-column {
        flex: 50%

      }
      .title-column {
        flex: 50%;
      }

    }

    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    .title {
      font-weight: bold;
      font-size: 20px;
    }
    .details-grid {
      text-align: left;
    }
  }
  .ag-theme-balham {
  }
  .button-row {
    display: flex;
    flex-direction: row;
    .spacer {
      flex-grow: 1;
    }
    .middle-buttons {
      flex: 25%;
    }
  }
}

.inner {
  height: 500px;
  margin-bottom: 50px;
  margin-top: 50px;

}

.text-align {
  display: flex;
  justify-content: flex-start !important;
}
