<div class="flex-area">
  <mat-card>
    <div class="flex-row">
      <div class="photo-column">
        <div *ngIf="hasProfilePic();else other_content">
          <img [src]="imageToShow | safeUrl" alt="Card image cap" class="big-avatar">
        </div>
        <ng-template #other_content class="company-header-avatar-white">
          <img src="assets/concert/no-concert-photo.png" alt="Card image cap" class="big-avatar">
        </ng-template>
      </div>
      <div class="title-column">
        <mat-card-title class="title">Concert information</mat-card-title>
        <mat-card-subtitle>Concert description {{concert.description}}</mat-card-subtitle>
      </div>
    </div>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <!--<mat-card-title class="title">Name of the concert: {{concert.name}}</mat-card-title>-->
    <!--<mat-card-subtitle> Concert description: {{concert.description}}</mat-card-subtitle>-->
    <mat-card-content>
      <mat-grid-list class="details-grid" colspan='3' [cols]="2" rowHeight="50px">
        <mat-grid-tile>
          <div fxFlex fxLayoutAlign="start center">
            Number of rehearsals:
          </div>
        </mat-grid-tile>
        <mat-divider></mat-divider>

        <mat-grid-tile> {{concert.numberOfRehearsals}}</mat-grid-tile>
        <mat-divider></mat-divider>
        <mat-grid-tile>
          <div fxFlex fxLayoutAlign="start center">
            Ensured drive:
          </div>
        </mat-grid-tile>
        <mat-divider></mat-divider>
        <mat-grid-tile>
          <div *ngIf="concert.ensuredDrive;else not_ensured">
            yes
          </div>
          <ng-template #not_ensured><p>no</p></ng-template>
        </mat-grid-tile>
        <mat-divider></mat-divider>
        <mat-grid-tile>
          <div fxFlex fxLayoutAlign="start center">
            guaranteed meal:
          </div>
        </mat-grid-tile>
        <mat-divider></mat-divider>
        <mat-grid-tile>
          <div *ngIf="concert.guaranteedMeal;else not_guaranteed">
            yes
          </div>
          <ng-template #not_guaranteed><p>no</p></ng-template>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>


      <ag-grid-angular

        #agGrid
        class="ag-theme-dark inner"
        [enableSorting]="true"
        [enableFilter]="true"
        [enableColResize]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [isRowSelectable]="isRowSelectable"
        rowSelection="single"
        (gridReady)="onGridReady($event)"
        (rowSelected)="isAnySelected()">
      </ag-grid-angular>

    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <button [disabled]="buttonDisabled" mat-raised-button class="middle-buttons" color="primary"
                (click)="applyOnSelectedJob()">apply
        </button>
        <div class="spacer"></div>
        <button mat-raised-button class="middle-buttons" color="accent" (click)="cancel()">cancel</button>
      </div>

    </mat-card-actions>
  </mat-card>

</div>

