.application-main-color-shadow {
  background-color: #016464;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.application-auth-color-shadow {
  background-color: #525255;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.component-scroll-bar {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .component-scroll-bar ::-webkit-scrollbar {
    width: 15px; }
  .component-scroll-bar ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px; }
  .component-scroll-bar ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #888; }
  .component-scroll-bar ::-webkit-scrollbar-thumb:hover {
    background: #555; }

mat-card {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin: 1px;
  border-radius: 15px; }

.application-main-color-shadow {
  background-color: #016464;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.application-auth-color-shadow {
  background-color: #525255;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.component-scroll-bar {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .component-scroll-bar ::-webkit-scrollbar {
    width: 15px; }
  .component-scroll-bar ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px; }
  .component-scroll-bar ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #888; }
  .component-scroll-bar ::-webkit-scrollbar-thumb:hover {
    background: #555; }

mat-card {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin: 1px;
  border-radius: 15px; }

.button-style {
  border-radius: 100px 100px 100px 100px;
  background-color: #016464;
  color: white; }

.forms-container {
  display: flex;
  flex-direction: column; }
  .forms-container .essential-info {
    display: flex;
    flex-direction: column; }
    .forms-container .essential-info .events-date {
      display: flex;
      flex-direction: row; }
      .forms-container .essential-info .events-date .date-from {
        flex: 40%; }
      .forms-container .essential-info .events-date .spacer {
        flex-grow: 1; }
      .forms-container .essential-info .events-date .date-to {
        flex: 40%; }
  .forms-container .additional-info {
    display: flex;
    flex-direction: column; }
  .forms-container .done-section {
    display: flex;
    flex-direction: column; }
    .forms-container .done-section .create-event {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px 30px;
      margin: 30px 0 30px 0; }
      .forms-container .done-section .create-event .new-event {
        flex: 100%;
        /* fg: 0, fs: 0, fb: 100% */ }
    .forms-container .done-section .reset-row {
      display: flex;
      flex-direction: row;
      padding: 10px 30px; }

.parent {
  display: flex;
  flex-direction: row; }

.spacer {
  flex-grow: 1; }

.middle-buttons {
  flex: 25%; }

@media (max-width: 800px) {
  .Aligner .Aligner-item {
    max-width: 90%;
    min-width: 90%; } }

/*# sourceMappingURL=new-concert.component.css.map */
