@import '../../../@theme/scss/main-theme';
@import '../../../@theme/scss/button-style';


  .Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .Aligner-item {
      .forms-container {
        display: flex;
        flex-direction: column;
        .password-forms {
          display: flex;
          flex-direction: column;
        }
      }

      .additional-forms-container{
        display: flex;
        flex-direction: column;
      }
      .done-section {
        display: flex;
        flex-direction: column;

        .register-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 10px 30px;
          margin:30px 0 30px 0 ;
          .register-button {
            flex:100%; /* fg: 0, fs: 0, fb: 100% */

          }
        }
        .reset-row {
          display: flex;
          flex-direction: row;
          padding: 10px 30px;
        }
      }

    }

  }



.Aligner-item {
  max-width: 70%;
  min-width: 60%;
}

.box {
  text-align: center; /* will center text in <p>, which is not a flex item */
}
.parent {
  display: flex;
  flex-direction: row;
}
.spacer {
  flex-grow: 1;
}
.middle-buttons{
  flex: 25%;
}
@media(max-width: 800px) {
  .Aligner {
    .Aligner-item {
      max-width: 90%;
      min-width: 90%;
    }
  }
}
