<div class="header">
  <app-login-header></app-login-header>
</div>
<div class="Aligner"><!-- flex container -->

  <div class="Aligner-item">
    <mat-card>

      <div class="box"><!-- flex item -->
        <h2 class="sign_in">Sign up</h2>
      </div>
      <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
        <div class="forms-container">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter your username" formControlName="username" required>
            <mat-error *ngIf="username.invalid">{{getUsernameMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
          <div class="password-forms" [formGroup]="passwordFormGroup">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <input matInput placeholder="Repeat your password" [type]="'password'" formControlName="repeatPassword" [errorStateMatcher]="matcher" required>
              <mat-error *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">{{getPasswordRepeatErrorMessage()}}</mat-error>
              <!--<mat-error *ngIf="passwordFormGroup.errors?.doesMatchPassword">{{getPasswordNotEqualsMessage()}}</mat-error>-->
              <mat-error *ngIf="passwordFormGroup.hasError('notSame')">Passwords do not match</mat-error>
            </mat-form-field>
          </div>
          <button class="register-button button-style" type="submit" [disabled]="!registrationFormGroup.valid" mat-stroked-button>
            Login
          </button>
        </div>

      </form>
    </mat-card>

  </div>
</div>
