<div class=" aligner component-scroll-bar">
  <mat-card class="mat-card">
    <div class="list-properties component-title">
      <mat-card-title>List of actual concerts</mat-card-title>
    </div>
    <nav class="component-sticky">
      <mat-accordion class="header-expension" >
        <mat-expansion-panel class="application-main-color-shadow" [disabled]="true">
          <mat-expansion-panel-header>
            <div class="name">name</div>
            <div class="date-from">start date</div>
            <div class="date-to">end date</div>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </nav>
    <div  class=" concert-list constant-height">
      <div *ngFor="let concertModel of concertModelObservable | async">
        <app-concerts-list-item [concertModelIn]=concertModel></app-concerts-list-item>
      </div>
    </div>
  </mat-card>
</div>
