<app-auth-page-template>
  <div class="Aligner"><!-- flex container -->
    <div class="Aligner-item">
      <mat-card class="mat-card">

        <div class="box"><!-- flex item -->
          <h2 class="sign_in">Forgot Password</h2>
        </div>
        <div class="box"><!-- flex item -->
          <h5 class="welcome">Enter your email address and we'll send a link to reset your password</h5>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="forms-container">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Enter your email" formControlName="email" required>
              <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <button class="reset-password-button" type="submit" [disabled]="!resetPasswordForm.valid" color="primary"
                  mat-raised-button>send reset email to your email
          </button>

          <div class="sign-button">
            <button class="login-button" type="submit" mat-stroked-button [routerLink]="['/auth/login']">back to login
              page
            </button>
            <!--<mat-spinner-button class="login-button" type="submit"  [options]="spinnerButtonOptions">Login</mat-spinner-button>-->
            <div class="gap"></div>
            <button class="register-button" mat-stroked-button [routerLink]="['/auth/register']">Register</button>
          </div>
        </form>
      </mat-card>

    </div>
  </div>
</app-auth-page-template>
