<div class="flexbox">
  <mat-card-title>List of people that are your friends</mat-card-title>
  <mat-form-field>
    <input matInput [(ngModel)]="searchText" placeholder="filter your friends by username">
  </mat-form-field>
  <mat-card class = mat-card>
    <div  *ngIf="myFriends.length==0;else listOfSentToMe">
      You have no friends
    </div>
    <ng-template class="constant-height" #listOfSentToMe>
      Invitations sent to me
      <div  *ngFor="let friend of myFriends | myFriendsFilter : this.searchText">

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="username">{{friend.username}}</div>
            <div class="name">{{friend.firstName }} {{friend.lastName}}</div>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="delete-button">
              <button  mat-raised-button color="warn" (click)="deleteFriend(friend.friendId)"> delete friend
              </button>
            </div>
            <div class="show-button">
              <button  mat-raised-button color="primary" (click)="navigateToUserDetails(friend.username)"> show profile
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </ng-template>
  </mat-card>
</div>


<!--<mat-card>-->
  <!--<div  *ngIf="myFriends.length==0;else listOfSentToMe">-->
    <!--You have no friends-->
  <!--</div>-->
  <!--<ng-template class="constant-height" #listOfSentToMe>-->
    <!--Invitations sent to me-->
    <!--<div  *ngFor="let friend of myFriends | myFriendsFilter : this.searchText">-->
      <!--<mat-expansion-panel hideToggle>-->
        <!--<mat-expansion-panel-header>-->
          <!--<div class="username">{{friend.username}}</div>-->
          <!--<div class="name">{{friend.firstName }} {{friend.lastName}}</div>-->
        <!--</mat-expansion-panel-header>-->
        <!--<div class="row">-->
          <!--<div class="delete-button">-->
            <!--<button  mat-raised-button color="warn" (click)="deleteFriend(friend.friendId)"> delete friend-->
            <!--</button>-->
          <!--</div>-->
          <!--<div class="show-button">-->
            <!--<button  mat-raised-button color="primary" (click)="navigateToUserDetails(friend.username)"> show profile-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</mat-expansion-panel>-->
    <!--</div>-->
  <!--</ng-template>-->
<!--</mat-card>-->
