.flex-space {
  display: flex;
  flex-direction: column;
  .first-row {
    display: flex;
    flex-direction: row;
    .spacer {
      flex-grow: 1;
    }
  }
}
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled {
  color: #fffb01;
}

.bad {
  color: #deb0b0;
}

