@import "../theme";

:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background-color: mat-color($mat-deep-purple, 100);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}

.mat-list-item {

  .routeIcon {
    margin-right: 15px;
  }

  .ex-icon{
    margin-left:50px;
  }
}
