<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class=" wrapper component-scroll-bar">
  <app-concerts-filter [mapType]="mapTypeId" (mapTypeEmitter)="changeMapType($event)" (resetFilterEmitter)="getEvents()"
                       (filterDataEmitter)="filterEvents($event)"></app-concerts-filter>

  <div class="map">
    <agm-map *ngIf="coordinates"
      [latitude]="coordinates.latitude"
      [longitude]="coordinates.longitude"
      [(mapTypeId)]="mapTypes[mapTypeId]"
      [zoom]="14"
      [zoomControl]="false"
      [streetViewControl]="false"
      (mapClick)="onChoseLocation($event)">

      <agm-marker
        [latitude]="coordinates.latitude"
        [longitude]="coordinates.longitude"
        [iconUrl]="getCurrentPositionMarker()">

        <agm-info-window>
          <div class="event-info">
            You are here!
          </div>
        </agm-info-window>
      </agm-marker>

      <div *ngFor="let concert of concerts | async">
        <agm-marker
          *ngIf="concert.address"
          [latitude]="getEventLatitude(concert)"
          [longitude]="getEventLongitude(concert)"
          [iconUrl]="getMarkerImage(concert)">

          <agm-info-window>
            <div class="event-info">
              <div>
                <span class="info-title">Concert name: </span> {{concert.name}}
              </div>
              <div>
                <span class="info-title">Concert slots: </span> {{concert.concertInstrumentSlots.length}}
              </div>
              <div>
                <span class="info-title">Address: </span> {{getFormattedAddress(concert)}}
              </div>
            </div>
            <div class="button-info">
              <button class="button-style" mat-raised-button color="primary"
                      (click)="navigateToEventDetails(concert.id)">
                navigate to details
              </button>
            </div>
          </agm-info-window>
        </agm-marker>
      </div>


      <agm-marker
        [latitude]="newEventMarker.latitude"
        [longitude]="newEventMarker.longitude"
        *ngIf="newEventLocationChosen"
        [iconUrl]="newEventMarker.image">

        <agm-info-window>
          <div class="create-new-event">
            <span class="create-title">Create new event: </span>
            <button class="button-create" mat-raised-button color="primary" (click)="navigateToNewEvent()">
              {{currentLocation}}
            </button>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>

