@import '../../../../assets/scss/main-header';
@import '../../../../assets/scss/main-theme';
@import '../../../@theme/breakpoints';

::ng-deep .langSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .langSelect.mat-select {
  display: inline;
}
@media (max-width: $large-handset) {
    .app-name{
      display: none;
    }
  }
